.barra-navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  margin-top: 15px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: rgb(240, 248, 255, 0.2);
  border-radius: 5px;
}
  
.logo {
  width: 35px;
  height: auto;
  cursor: pointer;
}
    
.menu {
  font-family: 'Inter';
  text-align: center;
  margin: 0 auto;
  color: #fffffe;
  font-size: 12px;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}
  
.abrir-menu,
.cerrar-menu {
  display: none;
  font-size: 30px;
  font-weight: lighter;
  color: #fffffe;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(240, 248, 255, 0.5);
  border-radius: 50%;
  transition: 0.5s;
}
  
.menu:hover,
.abrir-menu:hover,
.cerrar-menu:hover {
  color: #9eab88;
}
  
@media (max-width: 768px) {

  .abrir-menu {
    display: block;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 5%;
    z-index: 1;
  }
    
  .cerrar-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }
    
  .logo {
    display: none;
  }
  
  .barra-navegacion {
    background-color: rgb(7, 39, 45);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    border-radius: 0px;
  }
    
  .barra-navegacion.visible {
    opacity: 1;
    background-color: rgb(7, 39, 45);
    transform: translateX(0);
    z-index: 3;
  }
    
  .menu {
    font-size: 20px;
    padding: 15px;
    color: #fffffe;
  }
}