.formulario {
    background-image: url('../assets/fondo-pantalla.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario form {
    background-color: rgba(254, 254, 254, 0.5);
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    margin-top: 150px;
    margin-bottom: 50px
}

.fila {
    display: flex;
    width: 100%;
    gap: 20px;
}

.fila div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.formulario label {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.formulario input,
.formulario select {
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
}

.formulario-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario input:focus,
.formulario select:focus {
    background-color: #c5d9de;
}

.formulario input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formulario button {
    color: #000001;
    background: #fffffe;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin: 25px auto;
}

.formulario button:hover {
    background: #07272d;
    color: #fffffe;
}

#mensaje {
    color: rgb(15, 211, 15);
    font-family: 'Inter';
    font-size: 25px;
    font-weight: "bold";
    padding: 50px;
    border: 1px solid #000001;
    background-color: rgb(240, 248, 255, 0.9);
    border-radius: 20px;
    text-align: center;
}

.bi.bi-check-circle-fill {
    font-size: 50px;
}

@media (max-width: 768px) {
    
    .formulario {
        width: 100%;
        padding: 10px;
    }

    .formulario form {
        width: 90%;
    }

    .fila {
        flex-direction: column;
        gap: 10px;
    }

    #mensaje {
        max-width: 90%;
        font-size: 20px;
        padding: 20px;
    }
}