.hero-container {
  background-image: url('../assets/fondo-principal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-container h1 {
  color: #fffffe;
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 80px;
  position: relative;
  top: 40%;
  opacity: 0;
  animation: zoomIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

.hero-container .subtitulo {
  color: #fffffe;
  font-family: 'Inter';
  text-align: center;
  font-size: 12px;
  position: relative;
  top: 40%;
  opacity: 0;
  animation: zoomIn 1s ease-out forwards;
  animation-delay: 1s;
}